<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"/>
<div style="width: 100%; padding-left: 100px;padding-right:210px;margin-bottom: 200px; " fxLayout="column">
    <div fxLayout="column">

        <div>
            <span style="color:gray; cursor: pointer;" routerLink="/dashboard/getallbook">Home/</span><span> Books()
            </span>
        </div>
        <div style="margin-top: 50px;" fxLayout="row ">
            <div fxLayout="row " fxLayoutAlign="center start">
                <div class="bookimg2" fxLayout="row " fxLayoutAlign="center center">
                    <img   class="img2" src="{{bookArray?.bookImage}}"  alt="book img">
                </div>
                <div>
                    <div class="bookimg1" fxLayout="row " fxLayoutAlign="center center">
                        <img  class="img1" src="{{bookArray?.bookImage}}" alt="book img">

                    </div>
                    <div fxLayout="row " fxLayoutAlign="space-between" style="margin-top: 30px;">
                        <button class="butt"  *ngIf="!show" (click)="hideAndShow()"fxLayout="row " fxLayoutAlign="center center">ADD TO BAG</button>
                        <div class="add" *ngIf="show">
                            <button style="background-color: white;">-</button>
                            <input style="width:80px" class="num" value="1" [(ngModel)]="value" />
                            <button style="background-color: white;" (click)="AddToBag()">+</button>
                        </div>
                        <button class="butt1" fxLayout="row " fxLayoutAlign="center center">
                            <mat-icon>favorite</mat-icon>
                            WISH LIST
                        </button>
                    </div>
                </div>
            </div>
            <div style="margin-left: 40px; ">
                <div fxLayout="column">
                    <div fxLayout="column">
                        <div>
                            <h2 class="title">{{bookArray?.bookName}}</h2>
                        </div>
                        <div>
                            <p id="para">by {{bookArray?.authorName}}</p>
                        </div>

                        <div fxLayout="row" fxLayoutGap="10px" fxLayoutAlign=" center">
                            <div class="rating" fxLayout="row" fxLayoutAlign="center center">{{bookArray?.totalRating}}<img class="Star"
                                    src="./../../../../assets/star.png" alt=""></div>
                            <div>
                                <p id="count">{{bookArray?.ratingCount}}</p>
                            </div>

                        </div>

                        <div class="price-container" fxLayout="row" fxLayoutGap="20px">

                            <div class="discount-price">
                                Rs. {{bookArray?.discountPrice}}
                            </div>
                            <div class="actual-price">
                                Rs.{{bookArray?.originalPrice}}
                            </div>
                        </div>

                    </div>
                    <hr style=" width: 100%; margin-top: 30px;">
                    <div style="margin-top: 30px;">
                        <li style="font-size: 18px;font-weight: bold;">BookDetails</li>
                        <ul style="margin-left: -15px; word-spacing:5px">
                         {{bookArray?.bookDetails}}</ul>
                    </div>
                    <hr style=" width: 100%; margin-top: 30px;">
                    <div style="margin-top: 30px;margin-bottom: 50px;" >
                        <span style="font-size: 20px;">Customer Feedback</span>
                        <mat-card
                            style="padding:20px;margin-top: 20px; background-color:rgb(242, 242, 255);border-radius: 5px;">
                            <span>Overall rating</span>
                            <div class="starContainer">
                                <div class="star-widget">
                                    <input type="radio" [(ngModel)]="rating" name="rate" id="rate-5"  value="5">
                                    <label for="rate-5" class="fas fa-star"></label>
    
                                    <input type="radio"[(ngModel)]="rating" name="rate" id="rate-4"  value="4">
                                    <label for="rate-4" class="fas fa-star"></label>
    
                                    <input type="radio" [(ngModel)]="rating" name="rate" id="rate-3"  value="3">
                                    <label for="rate-3" class="fas fa-star"></label>
    
                                    <input type="radio" [(ngModel)]="rating"  name="rate" id="rate-2" value="2">
                                    <label for="rate-2" class="fas fa-star"></label>
    
                                    <input type="radio"[(ngModel)]="rating" name="rate" id="rate-1"  value="1">
                                    <label for="rate-1" class="fas fa-star"></label>
                                </div> 
    
                            </div>
                            <div style="margin-bottom: 20px;">
                                <input style="width:100%;height:40px;border-radius: 5px;" placeholder="Enter your review" [(ngModel)]="comment">
                            </div>
                           
                            <div fxLayoutAlign="end center">
                                <button
                                    style="width:80px;border-radius: 5px;height: 30px;background-color: rgb(105, 105, 201);"(click)="addFeedback()">Submit</button>
                            </div>
                        </mat-card>
                    </div>
                    <div style="display: flex; flex-direction: column-reverse;margin-left: 60px;margin-top: 30px;">
                        <div class="feedback-box"   fxLayoutGap ="20px"  *ngFor="let feedback of feedbackArray">
                            <div class="user" >
                                <span class="user-comment"> <b>comment:</b> {{feedback?.comment}}</span>
                            </div>
                            <div>
                                <span class="user-rating"> <b>Rating:</b> {{feedback?.rating}} </span>
                            </div>
                            <div>
                                <span class="user-bookId"><b>bookId:</b>  {{feedback?.bookId}}</span>
                            </div>
                        </div>  

                </div>
            </div>
        </div>
    </div> 